body {
    text-align: center;
    background: #141415;
    color: #fff;
    font-size: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
}

.page-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 600px; /* 最大幅を600pxに */
  padding: 20px;
  margin: 0 auto;   /* 中央寄せ */
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  box-sizing: border-box;
}

h1 {
    display: inline-block;
    max-width: max-content;    /* 文字幅だけに */
    font-size: 26px;
    background-image: linear-gradient(#14141500 70%, #81b3ff 70%);
}

.grid-3x3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width: 400px; /* スマホで見やすくするため最大幅を調整 */
  margin: 0 auto 20px;
  gap: 10px;
  box-sizing: border-box;
}

.slot {
    position: relative;
    width: 100%;
    aspect-ratio: 4/5; /* 縦横比を維持（例: 幅:高さ = 4:5） */
    border: 2px solid #81b3ff;
    background: #ffffff22;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 20px 5px 5px;
}

.slot .slot-rank {
    position: absolute;
    display: inline-block;
    top: -2px;
    left: -2px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #81b3ff;
    color: #ffffff;
    font-weight: bold;
}

.slot.filled img {
  width: 90%;
  object-fit: cover;
}

.slot.filled p {
    margin-top: 5px;
    text-align: center;
}

.grid-4x {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 500px; /* スマホで見やすくするため最大幅を調整 */
  margin: 0 auto;
}

.roster-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding: 20px 5px 5px;
}

.roster-item img {
  width: 100%;
  max-width: 100px;
  object-fit: cover;
}

.roster-item p {
    margin-top: 5px;
    text-align: center;
}

.roster-item.selected {
    background: #ffffff44;
    border-radius: 5px;
}
